# 1. Importar tablas

In [1]:
/ 1.1. Importar tabla empleados
employees:get `:data/employees;

/show employees;

In [2]:
/ 1.2. Importar tabla remuneraciones
remunerations:get `:data/remunerations;

/show remunerations;

In [3]:
/ 1.3. Importar tabla de las bases de contribución
contributionBasis:get `:data/contributionBasis;

/show contributionBasis

In [4]:
/ 1.4. Importar tabla de las aportaciones
monthlyContributions:get `:data/monthlyContributions;

/show monthlyContributions

# 2. Pruebas funcionales

## 2.1. Pruebas de integración

In [5]:
count distinct null delete name from employees
count distinct null remunerations
count distinct null contributionBasis
count distinct null monthlyContributions

1

1

1

1

In [6]:
0 in employees[`contrGroup]
0f in remunerations[`amount]
0f in contributionBasis[`amount]
0f in monthlyContributions[`amount]

0b

0b

0b

0b

In [7]:
/cada tipo de remunetación genera una cantidad de bases
t: select count i by remunerationType from remunerations;

cb_pb_irpf: 3*(first value t[`sb]);
her: first value t[`her];
hefm: first value t[`hefm];
mei: count select by nif, month from remunerations where month>=2023.01.01;

(count contributionBasis)~(mei+her+hefm+cb_pb_irpf)

1b

In [8]:
/cada tipo de remunetación genera una cantidad de bases
show select x:count i, y:2*count i  by baseType from contributionBasis;

show select count i by contributionType from monthlyContributions;

baseType    | x     y
------------| ------------
commonBase  | 64220 128440
hExtraBase  | 19367 38734
hExtraFMBase| 556   1112
irpfBase    | 64220 128440
meiBase     | 12921 25842
profBase    | 64220 128440
contributionType| x
----------------| ------
at              | 64220
cc              | 128440
dei             | 128440
fgs             | 64220
fp              | 128440
he              | 38734
hef             | 1112
irpf            | 62989
mei             | 25842

## 2.2. Pruebas de aceptación

In [9]:
l_nif: `00000001R`00000002W`00000003A;
l_name: ("P1";"P2";"P3");
l_naf: ("NAF1";"NAF2";"NAF3");
l_contractType: `indef`temp`fijodis;
l_workingSchedule: `parcial`parcial`completo;
l_contrGroup: 2 8 1;
l_cnae: `4212`8510`5320;

employees: employees,([]nif:l_nif;name:l_name;naf:l_naf;contractType:l_contractType;workingSchedule:l_workingSchedule;contrGroup:l_contrGroup;cnae:l_cnae);

In [10]:
/ 00000001R -> 1 mes no llega al mínimo, 1 mes se pasa de máximo, 1 mes normal
l_nif:`00000001R`00000001R`00000001R;
l_month:(2020.01m;2020.02m;2020.03m);
l_remunerationType:`sb`sb`sb;
l_amount: 500. 5000. 2000.;

remunerations: remunerations,([]nif:l_nif;month:l_month;remunerationType:l_remunerationType;amount:l_amount);

In [11]:
/ 00000002W -> 1 mes no llega al mínimo, 1 mes se pasa de máximo, 1 mes normal
l_nif:`00000002W`00000002W`00000002W`00000002W`00000002W`00000002W`00000002W`00000002W;
l_month:(2024.02m;2024.02m;2024.02m;2024.02m;2024.02m;2024.02m;2024.02m;2024.02m);
l_remunerationType:`sb`cs`hefm`her`ge`se`pns`od;
l_amount: 1500. 1000. 1000. 1000. 1000. 1000. 1000. 1000.;

remunerations: remunerations,([]nif:l_nif;month:l_month;remunerationType:l_remunerationType;amount:l_amount);

In [12]:
/ 00000003A -> 1 mes no llega al mínimo, 1 mes se pasa de máximo, 1 mes normal
l_nif:12#`00000003A;
l_month:2023.01m+til 12;
l_remunerationType:12#`sb;
l_amount:12#2000.;

remunerations: remunerations,([]nif:l_nif;month:l_month;remunerationType:l_remunerationType;amount:l_amount);

In [13]:
`:data/employees set employees;
`:data/remunerations set remunerations;

**Atención**: Antes de ejecutar la celda de abajo, ejecuta *it2_TFG_Sergio* y *it3_TFG_Sergio*.

In [14]:
contributionBasis:get `:data/contributionBasis;
monthlyContributions:get `:data/monthlyContributions;
irpfBasis:get `:data/irpfBasis;

In [15]:
asc select from contributionBasis where nif=`00000001R, baseType in `commonBase`profBase

nif       month   baseType   amount
-----------------------------------
00000001R 2020.01 commonBase 1215.9
00000001R 2020.01 profBase   1050
00000001R 2020.02 commonBase 4070.1
00000001R 2020.02 profBase   4070.1
00000001R 2020.03 commonBase 2000
00000001R 2020.03 profBase   2000

In [16]:
asc select from contributionBasis where nif=`00000002W
asc select from monthlyContributions where nif=`00000002W

nif       month   baseType     amount
-------------------------------------
00000002W 2024.02 commonBase   4500
00000002W 2024.02 hExtraBase   1000
00000002W 2024.02 hExtraFMBase 1000
00000002W 2024.02 irpfBase     7500
00000002W 2024.02 meiBase      4500
00000002W 2024.02 profBase     4720.5

nif       month   contributor contributionType amount
-------------------------------------------------------
00000002W 2024.02 E           at               70.8075
00000002W 2024.02 E           cc               1062
00000002W 2024.02 E           dei              259.6275
00000002W 2024.02 E           fgs              9.441
00000002W 2024.02 E           fp               28.323
00000002W 2024.02 E           he               236
00000002W 2024.02 E           hef              120
00000002W 2024.02 E           mei              5.4
00000002W 2024.02 T           cc               211.5
00000002W 2024.02 T           dei              73.16775
00000002W 2024.02 T           fp               4.7205
00000002W 2024.02 T           he               47
00000002W 2024.02 T           hef              20
00000002W 2024.02 T           irpf             375
00000002W 2024.02 T           mei              26.1

In [17]:
select from irpfBasis where nif=`00000003A, year=2023
select from monthlyContributions where nif=`00000003A, month=2023.01m, contributionType=`irpf

year nif       irpfRate
-----------------------
2023 00000003A 0.18

nif       month   contributor contributionType amount
-----------------------------------------------------
00000003A 2023.01 T           irpf             360